%h1 Hello
.row
  .col-md-12
    #user_field
  .col-md-12
    #message_field

%form
  =text_field_tag "message","", id: "my_message", class:   "my_message_class"
  %p
  =my_button_tag "Send", id: "send_message", remote: true

